@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

@layer utilities{
  .btn_green{
    @apply bg-green-500 px-8 py-4 text-white transition-all hover:bg-green-800;
  }

  .padding-container {
    @apply px-6 lg:px-20;
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .flexBetween{
    @apply flex items-center justify-between;
  }

  .flexCenter{
    @apply flex items-center justify-center;
  }

  .flexEnd{
    @apply flex items-center justify-end
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }



}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}